*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logoBag{
    width: 5rem;
}
#headertop{
    background-color: grey;
}
    

#headerTopSpan{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(168, 142, 142);
}
#languageChange{
    display: none;
}
#ukFlag{
    width: 20px;
}
#languageButton{
    border: none;
    background-color: transparent;
    
}
header{
    border-bottom: 1px solid gray;
    
    
}
.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
.flexRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#navList{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.navLinks{
    text-decoration: none;
    color: rgb(73, 43, 43);
}
#logoText{
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
input[type=text]{
    width: 600px;
    height: 35px;
    border: none;
}
.responsive {
    width: 100%;
    height: auto;
  }
#search{
    border: 1px solid grey;
    border-radius: .5rem;
    padding: .3rem;
    display: none;
}
#searchButton{
    border: none;
    background-color: transparent;
    color: gray;
}

   

.relative{
    position: relative;
}
.absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1{
    color: rgb(244, 245, 250);
    font-size:5vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    
}
.flexColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
}
.product{
    border: 1px solid grey;
    padding: 1rem;
    border-radius: .5rem;

}
Section{
    margin-top: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid grey;
}

#price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#price a {
    text-decoration: none;
    border: 1px solid grey;
    padding: .5rem;
    border-radius: .5rem;
    background-color: green;
}
.star{
    color: orange;
}
.productList{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
#footerUl{
    list-style: none;
}
.footerLinks{
    text-decoration: none;
    color: rgb(129, 92, 92);
}
#secondSection{
    margin-bottom: 50px;
}
footer{
    margin-bottom: 50px;
}
@media only screen and (min-width: 770px){
    #languageChange{
        display: flex;
    }
    .productList{
        grid-template-columns: 1fr 1fr;
    }
    #headerTop{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(211, 201, 201);
    }
    #headerTopSpan{
        background-color: transparent;
    
       
    }
}
   
  
  
@media only screen and (min-width: 990px) {
    #search{
        display: flex;
    }
    #menu{
        display: none;
    }
    .productList{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
   
       
    }
  
  